<!doctype html>
<%- include("head"); %>
<body id="page">
  <nav>
    <h1 id="name">Welcome again, <%=user.name%></h1>
  </nav>
  <article>
    <h2>Edit your account settings</h2>
    <form id="account" autocomplete="false" action="javascript:">
      <input type="hidden" id="token" name="token" value="<%=token%>">
      <label><%=NAME%> PRO</label>
      <div>Of course!</div>
      <label for="email">Your gravatar email:</label>
      <input type="email" id="email" name="email" value="<%=user.email || ""%>">
      <label for="pubmail">Display email publicly:</label>
      <input type="checkbox" id="pubmail" name="pubmail" <%=(user.pubmail ? "checked" : "")%>>
      <div id="msg">
        <h3>Say something (stupid):</h3>
        <textarea name="msg" id="message" maxlength="2000"><%=user.message || ""%></textarea>
      </div>
      <input type="submit" id="submit" value="Update your data">
    </form>
    <form autocomplete="false" action="javascript:">
      <h3>Two factor authentication</h3>
      <button id="tfa" data-enabled="<%=!!user.twofactor%>"><%=user.twofactor ? "Disable" : "Enable"%></button>
      <div id="challenger" style="display: none;">
        <figure>
          <figcaption>
            Scan this QR code with Google Authenticator, Authy, MS Authenticator<br>
            or any other compatible 2fa app
          </figcaption>
          <canvas id="qr" width="400" height="400"></canvas>
        </figure>
        <div>
          <label>Your response? <input id="challenged" type="text" width="6"></label>
        </div>
        <div><input id="tfasubmit" type="submit" value="Do it!">
        </div>
      </div>
    </form>
  </article>
  <%- include("footer"); %>
  <script src="/account.js?v=<%=v%>"></script>
</body>
