<!doctype html>
<%- include("head"); %>
<body id="page">
  <nav>
    <h1><%=NAME%> - Discover rooms</h1>
  </nav>
  <article>
    <p>
      <strong><%=users%> users</strong> in 
      <strong><%=rooms.length%> active rooms</strong>, chatting and sharing
      <strong><%=files%> files</strong>.
    </p>
    <p>
      <input id="filter" type="text" placeholder="Filter...">
    </p>
    <table id="discover" class="sortable">
      <thead>
        <tr>
          <th>Name</th>
          <th data-order="r" data-default="1">Users</th>
          <th data-order="r">Files</th>
          <th>Owners</th>
        </tr>
      </thead>
      <tbody>
      <% for (r of rooms) { %>
        <tr data-filter="<%=r.name%> <%=r.id%> <%=r.owners.join(" ")%>">
          <td data-sort="<%=r.name + " " + r.roomid%>">
            <a target="_blank" href="/r/<%=r.roomid%>"><%=r.name%> (#<%=r.roomid%>)</a>
          </td>
          <td data-sort="<%=r.users%>"><%=r.users%></td>
          <td data-sort="<%=r.files%>"><%=r.files%></td>
          <td data-sort="<%=r.owners.join(" ")%>">
            <% if (r.owners.length) { %>
              <ul>
              <% for (o of r.owners) { %>
                <li><a target="_blank" href="/u/<%=o%>"><%=o%></a></li>
              <% } %>
              </ul>
            <% } %>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </article>
  <%- include("footer"); %>
  <script src="/sortable.js?v=<%=v%>" async></script>
</body>
