<!doctype html>
<%- include("head"); %>
<body id="room" class="noips regular">
  <nav id="main" class="layer">
    <div id="main-left">
      <button id="menu" class="i-menu"></button>
    </div>
    <h1 id="name"><%=NAME%> - <%=MOTTO%></h1>
    <div id="main-right"></div>
  </nav>

  <nav id="tools" class="layer">
    <button id="filter-image" class="filterbtn i-image-b" title="Filter Images"></button>
    <button id="filter-video" class="filterbtn i-video-b" title="Filter Videos"></button>
    <button id="filter-audio" class="filterbtn i-audio-b" title="Filter Audio"></button>
    <button id="filter-document" class="filterbtn i-document-b" title="Filter Documents"></button>
    <button id="filter-archive" class="filterbtn i-archive-b" title="Filter Archives"></button>
    <button id="filter-file" class="filterbtn i-file-b" title="Filter other Files"></button>
    <input id="filter" placeholder="Filter files…" type="text" autocomplete="off" required>
    <button id="filter-clear" class="disabled i-clear" title="Reset filters and show everything again"></button>
    <div id="filter-status" class="hidden i-filter"></div>
    <div id="new-status" class="hidden blink i-arrow-up" title="New files at the top"></div>
    <div class="spacer"></div>
    <div id="selectall" class="btn i-plus" title="Select all"></div>
    <div id="clearselection" class="btn i-clear" title="Clear selection"></div>
    <div id="banfiles" class="modctrl btn i-ban" title="Ban files"></div>
    <div id="unbanfiles" class="modctrl btn i-unban" title="Unban files"></div>
    <div id="blacklist" class="modctrl btn i-blacklist" title="Blacklist files"></div>
    <div id="whitelist" class="modctrl btn i-whitelist" title="Whitelist files"></div>
    <div id="trash" class="btn i-trash" title="Remove files"></div>
    <div id="nailoff" class="btn i-list active"></div>
    <div id="nailon" class="btn i-grid"></div>
    <form style="display: none;">
      <input id="upload-button" name="upload-button" type="file" multiple="multiple">
    </form>
    <label for="upload-button" id="up" class="btn" title="Upload something!">
      <span class="i-upload"></span> Upload
    </label>
  </nav>

  <section id="chat" class="layer">
    <section id="messages"></section>
  </section>
  <section id="chat-scroller" class="scroller hidden"></section>

  <section id="status" class="layer">
    <div id="endmarker" class="blink hidden i-arrow-down" title="Go to new messages"></div>
    <div id="ips" class="modctrl">IP</div>
    <div id="connection" class="visible i-warning" title="No connection"></div>
    <div id="usercountcont" title="Users online">
      <span id="usercount-icon" class="i-users"></span>
      <span id="usercount">0</span>
    </div>
    <div>
      <span id="user-icon" class="i-white" title="Unregistered"></span>
      <input type="text" id="nick">
    </div>
  </section>

  <section id="chatbox" class="layer">
    <textarea
      id="text"
      data-placeholder-enabled="Chat…"
      data-placeholder-disabled="You need to log in to chat and upload files!"
      data-placeholder-disconnected="Currently not connected."
      rows="3"
      maxlength="300"
      ></textarea>
  </section>

  <section id="splitter" class="layer"></section>

  <section id="dropminder" class="layer">
    <svg version="1.1" viewBox="-25 -25 1050 1050" xmlns="http://www.w3.org/2000/svg">
     <rect width="1e3" height="1e3" rx="1e2" fill="none" stroke="#434343" stroke-dasharray="0, 600, 360, 0" stroke-dashoffset="-100" stroke-width="50px"/>
     <text id="dropper" x="510.76172" y="284.49219" fill="#434343" font-family="'Open Sans'" font-size="240px" font-weight="bold" text-align="center" text-anchor="middle" xml:space="preserve"><tspan y="285" text-align="center">Drop</tspan><tspan x="510" y="585" text-align="center">stuff</tspan><tspan x="511" y="885" text-align="center">here</tspan></text>
    </svg>
  </section>

  <section id="filelist" class="layer">
    <section id="files" class="listmode">
    </section>
  </section>
  <section id="filelist-scroller" class="scroller hidden"></section>

  <section id="gallery" class="layer">
    <img id="gallery_img" alt="" src="/loader.png">
    <span id="gallery_title" class="gallery_text">title</span>
    <a id="gallery_close" class="i-clear"></a>
    <a id="gallery_prev" class="gallery_prevnext i-prev"></a>
    <a id="gallery_next" class="gallery_prevnext i-next"></a>
    <span id="gallery_info" class="gallery_text">shrekt kek</span>
  </section>

  <div id="preload"></div>

  <ul id="context-menu" style="display: none;">
    <li id="ctx-home" data-icon="kf">Home
    <li id="ctx-newroom" data-icon="i-newroom">New Room
    <li id="ctx-roomlist" data-class="modctrl" data-icon="i-sytem32">Room List
    <li>-
    <li id="ctx-report" data-icon="i-report">Report this Room!
    <li id="ctx-options" data-icon="i-edit">Room Options
    <li id="ctx-ban" data-class="modctrl" data-icon="i-ban">Ban
    <li id="ctx-unban" data-class="modctrl" data-icon="i-unban">Unban
    <li id="ctx-nuke" data-class="modctrl" data-icon="i-nuke">Nuke this Room!
    <li id="ctx-modlog" data-class="modctrl" data-icon="i-sytem32">Moderation Log
    <li>-
    <li id="ctx-register" data-icon="i-users">Register
    <li id="ctx-login" data-icon="i-login">Log In
    <li id="ctx-account" data-icon="i-white">Account
    <li id="ctx-logout" data-icon="i-logout">Log Out
  </ul>

  <form id="login-tmpl" class="tmpl">
    <span class="icon i-login"></span>
    <label>User:</label>
    <input name="u" type="text" autocomplete="username">
    <label>Password:</label>
    <input name="p" type="password" autocomplete="current-password">
    <label class="tfa-label hidden">Two factor:</label>
    <input class="tfa hidden" name="t" type="text" autocomplete="off">
  </form>

  <form id="report-tmpl" class="tmpl">
    <span class="icon i-report"></span>
    <section id="report-rules">
      <h4>Report rules</h4>
      <ul>
        <li>Do not spam! Send one report!</li>
        <li>Do only report <strong>obvious</strong> illegal or rule violating content. This specifically does <em>not</em> include any copyright claims!<br>
          Nudity and porn may be illegal in your jurisdication, but that does not mean it's illegal everywhere.</li>
        <li>If you have something to report that is not obviously illegal or rule violating, use other support channels, but dn <strong>not</strong> use this report function!</li>
        <li>Be descriptive in your report!</li>
        <li>Violators will be banned!</li>
      </ul>
    </section>
    <label>Room</label>
    <input name="room" type="text" disabled>
    <label>Report message</label>
    <textarea name="msg" rows="5" cols="30"></textarea>
    <label id="report-agreement">
      <input type="checkbox" name="agreement">
      I followed the above rules, and recognize I can be banned for abusing the report function
    </label>
  </form>

  <form id="changepw-tmpl" class="tmpl">
    <span class="icon i-login"></span>
    <label>Username:</label>
    <input name="u" type="text" disabled autocomplete="username">
    <label>Current password:</label>
    <input name="c" type="password" autocomplete="current-password">
    <label>New Password:</label>
    <input name="p" type="password" autocomplete="new-password">
    <label>Confirm New Password:</label>
    <input name="confirmation" type="password" autocomplete="new-password">
    <label class="tfa-label hidden">Two factor:</label>
    <input class="tfa hidden" name="t" type="text" autocomplete="off">
  </form>

  <form id="ban-tmpl" class="tmpl">
    <span class="icon i-ban"></span>
    <label>Subjects</label>
    <input name="s" type="text" autocomplete="off">
    <label>Make them suffer!</label>
    <label><input type="checkbox" name="mute"> Mute</label>
    <label></label>
    <label><input type="checkbox" name="upload"> Ban uploads</label>
    <label></label>
    <label><input type="checkbox" name="hellban"> Hellban</label>
    <label></label>
    <label><input type="checkbox" name="purge"> Purge Files</label>
    <label>Duration (in hours)</label>
    <input name="hours" type="text" autocomplete="off">
    <label>Reason</label>
    <textarea name="reason" cols="20" rows="4"></textarea>
    <label>Template</label>
    <select name="templates"></select>
  </form>

  <form id="bl-tmpl" class="tmpl">
    <span class="icon i-blacklist"></span>
    <label>Make them suffer!</label>
    <label><input type="checkbox" name="mute"> Mute</label>
    <label></label>
    <label><input type="checkbox" name="upload"> Ban uploads</label>
    <label></label>
    <label><input type="checkbox" name="hellban"> Hellban</label>
    <label>Duration (in hours)</label>
    <input name="hours" type="text" autocomplete="off">
    <label>Reason</label>
    <textarea name="reason" cols="20" rows="4"></textarea>
    <label>Template</label>
    <select name="templates"></select>
  </form>

  <form id="unban-tmpl" class="tmpl">
    <span class="icon i-unban"></span>
    <label>Subjects</label>
    <input name="s" type="text" autocomplete="off">
    <label></label>
    <label><input type="checkbox" name="mute" checked> Unmute</label>
    <label></label>
    <label><input type="checkbox" name="upload" checked> Allow uploads</label>
    <label></label>
    <label><input type="checkbox" name="hellban" checked> Un-hellban</label>
    <label>Reason</label>
    <textarea name="reason" cols="20" rows="4"></textarea>
  </form>

  <form id="roomopts-tmpl" class="tmpl">
    <span class="icon i-edit"></span>
    <label>Room Name</label>
    <input name="name" type="text" autocomplete="off">
    <label>Message of the Day</label>
    <textarea name="motd" cols="20" rows="3"></textarea>
    <div class="wide">
      <button name="owners">Manage Owners</button>
      <button class="hidden" name="invitees">Manage Invited Users</button>
    </div>
    <label class="wide"><input type="checkbox" name="inviteonly"> Invite-Only Room</label>
    <label class="wide"><input type="checkbox" name="adult"> Adult Content</label>
    <label class="wide modctrl"><input type="checkbox" name="disabled"> Disabled</label>
    <label class="wide modctrl"><input type="checkbox" name="disablereports">Disable Reports</label>
    <label class="modctrl">File TTL</label>
    <input class="modctrl" name="ttl" type="number" autocomplete="off" min="0" max="168">
  </form>

  <form id="users-tmpl" class="tmpl">
    <span class="icon i-white"></span>
    <div class="usersdesc wide"></div>
    <label>Add User</label>
    <input name="name" type="text" autocomplete="off">
    <label>Current</label>
    <div class="userlist">
    </div>
  </form>

  <template id="help-tmpl">
    <span class="icon i-sytem32"></span>
    <section>
      <h4>Commands for Everyone</h4>
      <dl>
        <dt>/login</dt>
        <dd>Show the login dialog</dd>
        <dt>/nick NAME</dt>
        <dd>Change your nick name</dd>
        <dt>/me MESSAGE</dt>
        <dd>Send a me message</dd>
        <dt>/p <em>USER</em> MESSAGE</dt>
        <dd>Send a private message to a registered user</dd>
        <dt>/motd</dt>
        <dd>Show the MOTD</dd>
        <dt>/search EXPRESSION</dt>
        <dd>Search the file list</dd>
      </dl>
      <p>To just send a message starting with a "/" just use a "//" instead.</p>
    </section>
    <section id="help-modal-regular">
      <h4>Commands for logged in users</h4>
      <dl>
        <dt>/logout</dt>
        <dd>Byeeeeeee</dd>
        <dt>/changepw</dt>
        <dd>Change your password</dd>
      </dl>
    </section>
    <section id="help-modal-owner">
      <h4>Room owners only</h4>
      <dl>
        <dt>/name NAME</dt>
        <dd>Set the room name</dd>
        <dt>/setmotd MOTD</dt>
        <dd>Set the room MOTD</dd>
        <dt>/addowner /removeowner USER</dt>
        <dd>Add/Remove a room owner</dd>
        <dt>/addinvitee /removeinvitee USER</dt>
        <dd>Add/remove an invited user</dd>
      </dl>
    </section>
    <section id="help-modal-mod">
      <h4>Moderators only</h4>
      <dl>
        <dt>/a MESSAGE</dt>
        <dd>Send a message to admin chat only</dd>
      </dl>
    </section>
  </template>

  <template id="welcome">
    <section class="welcome">
      <h4>Welcome to <%=NAME%></h4>
      <h5><%=MOTTO%></h5>
      <p>This is a chat room with built-in temporary file sharing.</p>
      <p>Files you share in this room will be removed after <span class="welcome_ttl"></span> hours. Until then, everybody you share the room with can view, download and link files.</p>
      <p>Share this room with someone, and start talking:</p>
      <div>
        <p class="welcome_linkcont"><span class="welcome_link"></span> <a class="welcome_copy icon i-copy" title="Copy link"></a></p>
      </div>
      <p class="welcome_tos">By using <%=NAME%> you agree to our <a href="/terms" target="_blank">Terms of Service and Privacy policy</a>, and our <a href="/rules" target="_blank">Rules</a>.</p>
    </section>
  </template>


  <script src="/client.js?v=<%=v%>"></script>
</body>
