<!doctype html>
<%- include("head"); %>
<body id="page">
  <nav>
    <h1 id="name"><%=user.name%> is a <%=NAME%> user!</h1>
  </nav>
  <article id="userprofile">
    <h2><%=user.name%></h2>

    <% if (user.gravatar) { %>
    <img id="avatar" src="<%=user.gravatar%>">
    <% } else { %>
    <span id="avatar" class="i-white"></span>
    <% } %>

    <% if (user.role === "mod") { %>
    <p><strong>Moderator</strong></p>
    <% } %>

    <% if (info.filesRank) { %>
    <p>Uploaded <%=info.uploaded%>, which makes them <a href="/top/uploaded"><%=info.uploadedRank%></a>.</p>
    <p>Uploaded <%=info.files%> files, or <a href="/top/files"><%=info.filesRank%></a>.</p>
    <% } %>

    <% if (info.email) { %>
    <p title="email">
      Can be reached at:
      <a href="mailto:<%=user.email%>"><%=user.email%></a>.
    </p>
    <% } %>

    <% if (user.message) { %>
    <h4>Really wants you to know the following:</h4>
    <p title="message" id="message"><%=user.message%></p>
    <% } else { %>
    <p title="message"><%=user.name%> didn't leave you a message, I'm afraid...</p>
    <% } %>
  </article>
  <%- include("footer"); %>
</body>
